
/*højde = 805px*/
 *{
   margin: 0;
   padding: 0;
 }

header {
  background-color: yellow;
  height: 145px;
}

article {
  height: 660px;
}

#forstebox {
  background-image: url("../img/grass.png");
}

.textbox1 {
  position: relative;
  width: 100%;
}

h1 {
  position: center;
  text-align: center;
}


#andenbox {
  background-image: url("../img/head.png");
}

#tredjebox {
  background-color: pink;
}

#fjerdebox {
  background-color: orange;
}

footer {
  background-color: green;
}
