
/*højde = 805px*/
 *{
   margin: 0;
   padding: 0;
   font-family: helvetica;
 }

h1{
    font-size: 50px;
}
h2{
    font-size: 40px
}
h3{
    font-size: 30px
}
h4{
    font-size: 20px
}
h5{
    font-size: 10px
}
p{
    font-size: 15px;
}

header {
  height: 80px;
  background-color: #f5f5eb;
  position: fixed;
  width: 100%;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
  list-style-type: none;
  display: flex;
}

li a {
  text-align: center;
  text-decoration: none;
  padding: 30px 20px;
  color: #1e1414;
  opacity: 0.5;
}

.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

article {
  height: 660px;
}

 .whitebox{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .whitebox ul{
    background: rgba(245,245,235,.7);
    height: 50%;
    width: 100%;
    padding: 50px;
    list-style-type: disc;
    flex-direction: column;
    justify-content: space-between;
}

#forstebox {
  background-image: url("../img/grass.png");
  display: flex;
  justify-content: center;
  align-items: center;

}

.textbox1 {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f5f5eb;
}

.overskrift {
  position: center;
  text-align: center;
  color: #f5f5eb;
  text-shadow: -1px -1px 0 #1e1414,
               1px -1px 0 #1e1414,
               -1px 1px 0 #1e1414,
               1px 1px 0 #1e1414;
padding-top: 10px;
}


#andenbox {
  background-image: url("../img/head.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tredjebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -660px;
}

#tredjebox .overskrift{
    margin-top: 10px;
}

.image_slide{
    width: 100%;
}
.billede{
    width: 100%;
}
.button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
button{
    width: 65px;
    height: 65px;
    font-size: 32px;
    color: #1e1414;
    background: rgba(245,245,235,.7);
    border: 5px solid #1e1414;
    border-radius: 50px;
    cursor: pointer;
    margin-top: -330px;
}
button:hover{
    color: #b82601;
}

#fjerdebox {
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
  padding: 0px 15px;
  font-size: 30px;
  color: #1e1414;
  opacity: 0.5;
}


.ftext{
  float:right;
  text-decoration: none;
  color: #1e1414;
  opacity: 0.5;
}

.ftext:hover{
  opacity:1.0;
}

.icon:hover{
  opacity:1.0;
}

a:hover{
  opacity:1.0;
}

input [type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #f5f5eb;
  color: black;
  padding: 12px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #f5f5eb;
}

.contact{
  border-radius: 5px;
  background-color: #f5f5eb;
  opacity: 1.0;
  padding: 20px;
}

footer {
  background-color: #f5f5eb;
  padding: 35px 25px;
}
