
/*højde = 805px*/
 *{
   margin: 0;
   padding: 0;
 }

header {
  background-color: yellow;
  height: 145px;
}

article {
  height: 660px;
}

#forstebox {
  background-color: blue;
}

#andenbox {
  background-color: red;
}

#tredjebox {
  background-color: pink;
}

#fjerdebox {
  background-color: orange;
}

footer {
  background-color: green;
}
